*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar-container{
background-color: #21325e;
height: 100vh;
width: 100%;
}

.navbar-brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
ul li{
    display: inline;
}
li a, .icon{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 600;
}
.resume{
    background-color: #21325e;
}
.icon{
    display: flex;
    
}
.find-jobs{
    background-color: #21325e;
}

.navigation-content{
    color: #fff;
    text-align: center;
}
.navigation-content h1{
    color: #fff;
    font-size: 35px;
    font-weight: 800;
}
.navigation-content p{
    font-weight: 600;
    font-size: 20px;
}
.nav-bar-2{
    color: rgba(19, 55, 147, 0.788)
}
span{
    width: 10px;
    height: 10px;
    background-color: #fff;
}

/* box-2 */
.box-2{
    width: 100%;
    height: auto;
}
.Service, .box-2-content h1, .box-2-content p, .Register, .Register-para{
    color: #1f3d89;
}
button{
    background-color: #21325e;
}
.Register-para {
    font-size: 13px;
}
.first-para{
    font-size: 13px;
}

/* box-3 */
.box-3{
    width: 100%;
}
.client-icons{
    width: 140px ;
    height: 90px;
}
.profile{
    background-color: #21325e;
}
.industry, .Company{
    color: #0431a1;
}
.client-info{
    font-size: 12px;
}


/* box-4 */
.box-4, .box-7{
    width: 100%;
    background-color: #21325e;
}

/* box-5 */
.box-5{
    width: 100%;
}
.Digital{
    color: #1f3d89;
    font-size: 18px;
    font-weight: 800;
}

/* box-6 */
.interview{
    background: url(images/interview-pic.jpg);
    height: 150px;
    background-size: cover;
}
/* box-7 */
.box-7{
    height: 100vh;
}
.icons{
    border: 4px solid #fff;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 6px;
    border-radius: 50%;
}

/* gray-box */
.gray-box{
    width: 30%;
    height: 200px;
    color: #0431a1;
    background-color: rgba(211, 211, 211, 0.364);
}

/* box-9 */
.box-9{
    background-color: rgba(211, 211, 211, 0.418);
}
/* download */
.download{
    color: #0431a1;
}

/* footer */
.footer-header{
    font-size: 15px;
    font-weight: 800;
    color: #0431a1;
}
.footer-para{
    font-size: 13px;
}
.social-icons{
    width: 30px;
    height: 30px ;
    padding: 5px;
    border: 2px solid rgb(86, 86, 86);
    color: rgb(82, 81, 81);
    border-radius: 50%;
}
/* footer-box */
.footer-box{
    background-color: #1f3d89;
}